@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background: #16171a;
}

::-webkit-scrollbar-thumb{
    background: #373941;
}

::-webkit-scrollbar-thumb:hover{
    background: rgba(0,136,169,1);
}

.titles{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: rgba(0,136,169,1);
    margin-right: auto;
    cursor: default;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 30px 10%;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    padding-top: 10px;
}

.nav-links li a{
    transition: all 0.3 ease 0s;
}

.nav-links li a:hover{
    color: rgba(0,136,169,1);
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.5);
}

main{
    height: 1000px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 30px 10%;
    background-color: #1e1e22;
    padding-bottom: 110px;
}

.footer-links li{
    display: inline-block;
    padding: 0px 80px;
    background-color: #1e1e22;
}

.footer-links li a{
    transition: all 0.3 ease 0s;
    background-color: #1e1e22;
}

.footer-links li a:hover{
    color: rgba(0,136,169,1);
}



